/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
 
}

footer{
  width: 100%;
  height: auto;
  background: #000;
  margin: 0 auto;
  text-align: center;
  padding-top:25px;
}

footer a{
  color: white;
  font-size: 14px;
  margin-left: 10px;
  text-decoration: none;
}

footer nav a:hover{
  border-bottom: 1px solid white;

}
/*=============== THEORY QUESTIONS ===============*/
.wrapper-questions{
  margin: 2em auto 19em;
  padding: 0 35px 35px;
  width: 50em;
  background-color: white;
  box-shadow: 0 0.3em 1em #000;
  max-width: 60em;
}

.wrapper-questions a{
  color: #548eaa;
  text-decoration: none;
}

pre{
  background: #f7f7f7;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: .875rem;
  line-height: 1.6;
  margin: 0;
  overflow: auto;
  padding: 17px 20px;
  -moz-tab-size: 4;
  tab-size: 4;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}




/*=============== HEADER ===============*/
.navbar{
  width: 100%;
  height: 150px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.navbar .container{
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.navbar-menu li {
  display: inline-block;
}

.navbar-menu li a {
  display: inline-block;
  color: #000;
  opacity: 0.6;
  text-decoration: none;
  padding: 10px;
  transition: all .1s ease-in-out;
}

.navbar-menu li a:hover {
  opacity: 1;
}

.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;
}

.navbar-brand {
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #000;
}

nav ul li ul {
  position: absolute;
  width: 100px;
  right: 21px;
  top: 91px;
  background: #fff;
  display: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

nav ul li:hover > ul{
  display: initial;
}

/*=============== CARD ===============*/
.container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}

.theory_card__container {
  background-color: white;
  width: 1000px;
  height: 200px;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  margin-inline: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.theory_description {
  display: inline-block;
  margin-left: 455px;
  margin-top: 25px;
}
/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}

/* =====================VIDEOS============================= */

/*=============== CARD VIDEOS===============*/
.container__videos {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.card__container__videos {
  display: grid;
  row-gap: 3.5rem;
}

.card__article__videos {
  position: relative;
  overflow: hidden;
}

.card__img__videos {
  width: 328px;
  height: 260px;
  border-radius: 1.5rem;
}

.card__data__videos {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description__videos {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card__title__videos {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card__button__videos {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button__videos:hover {
  text-decoration: underline;
}

.theory_card__container__videos {
  background-color: white;
  width: 1000px;
  height: 200px;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  margin-inline: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.theory_description__videos {
  display: inline-block;
  margin-left: 455px;
  margin-top: 25px;
}
/* Naming animations in hover */
.card__article__videos:hover .card__data__videos {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article__videos:hover {
  animation: remove-overflow 2s forwards;
}

.card__article__videos:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article__videos:not(:hover) .card__data__videos {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container__videos {
    margin-inline: 1rem;
  }

  .card__data__videos {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container__videos {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container__videos {
    height: 100vh;
  }

  .card__container__videos {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img__videos {
    width: 348px;
  }
  .card__data__videos {
    width: 316px;
    padding-inline: 2.5rem;
  }
}

/* =====================OTHER============================= */

























